@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color : #505962;
}

/*---Navigation---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0)!important;
}

.navbar-nav li{
  padding-right :.7 rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top : .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
  color: #1ebba3;
}


/*--Landing Page --*/
.home-inner{
  display: block;
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:20%;
  z-index : 1;
  color: black;
  text-transform: uppercase;
  transition: 0.6s ease;
}
.caption h1{
  font-size : 3.8rem;
  font-weight : 700;
  letter-spacing: .3rem;
  padding-bottom : 1rem;
}

.caption h3 {
  font-style: 2rem;
  padding-bottom : 1.6rem;
}

.caption p {
  transition: 0.6s ease;
}


:root {
  --bg-color: white;
  --txt-color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

