{% load static %}


<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href = "{% static 'landing/css/style.css' %}" >
<link rel="stylesheet" href = "{% static 'landing/css/style/fixed.css' %}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <div id = "homepageContainer"class = "col col-sm-12 col-md-12 col-lg-12 text-center">
      <h1> Halo, {{user}} !</h1>
      <form method = "POST">
        {% csrf_token %}
        <input type = "submit" name = "logout" value = "Log Out">
      </form>
    </div>
  </body>
</html>