@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color : #505962;
}

/*---Navigation---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0)!important;
}

.navbar-nav li{
  padding-right :.7 rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top : .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
  color: #1ebba3;
}


/*--Landing Page --*/
.home-inner{
  display: block;
}
