{% load static %}

<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href = "{% static 'landing/css/style.css' %}" >
<link rel="stylesheet" href = "{% static 'landing/css/style/fixed.css' %}">

<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Books Finder</title>

  </head>
  <body data-spy = "scroll" data-target="#navbarResponsive">
      <!--Start Landing Page-->
      <div class="searchBookContainer text-center">
        <h1>Books Finder</h1> 
        <input id = "search" placeholder="Title or Author">
        <button id = "button" type = "button">Search</button>
        <div id = "results" class = "row text-center" >
        </div>
      </div>
      <!--End Landing Page-->
      <div class="modal"><!-- Place at bottom of page --></div>
      {% include "pages/snipsets/javascript.html" %}
  </body>
</html>