{% load static %}
<link rel="stylesheet" href = "{% static 'landing/css/style.css' %}" >
<link rel="stylesheet" href = "{% static 'landing/css/style/fixed.css' %}">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <li class = "navbar-brand">
          <span id="day-night-txt">Day Mode</span>
      </li>
      <li class = "navbar-brand">
        <a id="day-night-txt" href= "\tugas8\"> Tugas 8</a>
      </li>
      <li class = "navbar-brand">
        <a id="day-night-txt" href= "\tugas9\"> Tugas 9</a>
      </li>
      <ul class="navbar-nav ml-auto">
        <li class = "nav-item">
            <label class="switch">
                <input type="checkbox" id="darkmode-switch">
                <span class="slider round"></span>
            </label>
        </li>
      </ul>
    </div>
</nav>

{% include "pages/snipsets/javascript.html" %}