{% load static %}

<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Website</title>

  </head>
  <body data-spy = "scroll" data-target="#navbarResponsive">
    {% include "pages/snipsets/navbar.html" %}
      <!--Start Landing Page-->
      <div class="landing">
        <div class="home-wrap">
          <div class="home-inner">
            </div>
        </div>
      </div>

      <div class="caption text-center" >
        <div class = "col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <h1>Halo!</h1>
          <h3>Kenalin gua Roy</h3>
        </div>
        <div id ="accordion" class= "col-12 col-sm-12 col-md-12 col-lg-12 text-center" >
            <h3 class="accord-header">Activity</h3>
            <div class="text-bg-color">
                <p>
                Studying at Faculty of Computer Science<br>
                Playing games <br>
                ...
                </p>   
            </div>
          <h3 class="accord-header">Organization / Volunteering</h3>
          <div class="text-bg-color">
              <p>
              PEMIRA 2018 / 2019<br>
              COMPFEST XI<br>
              </p>   
          </div>
          <h3 class="accord-header">Achievement</h3>
          <div class="text-bg-color">
              <p>
              Duta Tidur Nasional<br>
              <br>
              </p>   
          </div>
        </div>
      </div>
      <!--End Landing Page-->
      {% include "pages/snipsets/javascript.html" %}
  </body>
</html>